<div id="all-songs">
  <% @songs.each do |song| %>
  <ul>
    <p><%= song.title %></p>
    <%= link_to "edit", edit_song_path(@song) %>
    <p><%= song.artist_name %></p>
    <p><%= song.released %></p>
    <p><%= song.released_year %></p>
    <p><%= song.genre %></p>
    <% end %>
  </ul>
</div>
